# Module Parameters
# ----- sipdump params -----
modparam("sipdump", "enable", {{KAMAILIO_SIPDUMP_ENABLE}})
modparam("sipdump", "mode", 2)

# ----- websocket params -----
modparam("websocket", "keepalive_mechanism", 1)
modparam("websocket", "keepalive_timeout", 30)

# ----- sanity params -----
modparam("sanity", "autodrop", 0)

# ----- siptrace params -----
modparam("siptrace", "trace_on", {{KAMAILIO_SIPTRACE_ENABLE}})
modparam("siptrace", "trace_mode", 1)
modparam("siptrace", "trace_to_database", 0)

# ----- tm params -----
modparam("tm", "failure_reply_mode", 3)
modparam("tm", "fr_timer", 30000)
modparam("tm", "fr_inv_timer", 120000)

# ----- dialog params -----
modparam("dialog", "default_timeout", 3600)
modparam("dialog", "db_url", DBURL)
modparam("dialog", "db_mode", 1)
modparam("dialog", "profiles_with_value", "ws_flow")
modparam("dialog", "send_bye", 1)
modparam("dialog", "keep_proxy_rr", 3)

# ----- rr params -----
modparam("rr", "enable_full_lr", 0)
modparam("rr", "append_fromtag", 1)
modparam("rr", "sockname_mode", 1)

# ----- registrar params -----
modparam("registrar", "method_filtering", 1)
modparam("registrar", "max_expires", 3600)
modparam("registrar", "gruu_enabled", 0)
modparam("registrar", "use_path", 1)
modparam("registrar", "path_mode", 0)
modparam("registrar", "max_contacts", 5)
modparam("registrar", "xavp_cfg", "reg")
modparam("registrar", "lookup_filter_mode", 2)
modparam("registrar", "outbound_mode", 1)
modparam("registrar", "flow_timer", 25)

# ----- path params -----
modparam("path", "use_received", 1)

# ----- usrloc params -----
modparam("usrloc", "timer_interval", 60)
modparam("usrloc", "timer_procs", 1)
modparam("usrloc", "use_domain", MULTIDOMAIN)
modparam("usrloc", "db_url", DBURL)
modparam("usrloc", "db_mode", 3)

# ----- rtpengine params -----
modparam("rtpengine", "rtpengine_sock", "{{RTPENGINE_SOCK}}")
modparam("rtpengine", "extra_id_pv", "$avp(extra_id)")
modparam("rtpengine", "setid_avp", "$avp(rtpengine_setid)")
modparam("rtpengine", "hash_algo", 0)
modparam("rtpengine", "ping_mode", 1)
modparam("rtpengine", "ping_interval", 10)
modparam("rtpengine", "rtpengine_disable_tout", 10)
modparam("rtpengine", "aggressive_redetection", 1)
modparam("rtpengine", "queried_nodes_limit", 1)

# ----- nathelper params -----
modparam("nathelper", "natping_interval", 30)
modparam("nathelper", "ping_nated_only", 1)
modparam("nathelper", "sipping_bflag", FLB_NATSIPPING)
modparam("nathelper", "sipping_from", "sip:pinger@kamailio.org")
modparam("nathelper|registrar", "received_avp", "$avp(RECEIVED)")
modparam("usrloc", "nat_bflag", FLB_NATB)

# ----- pike params -----
modparam("pike", "sampling_time_unit", 2)
modparam("pike", "reqs_density_per_unit", 16)
modparam("pike", "remove_latency", 4)

# ----- debugger params -----
modparam("debugger", "cfgtrace", 0)
modparam("debugger", "log_level_name", "exec")
