route[REQINIT] {
    # This function makes a row of sanity checks over the given SIP request
    # checking for malformed SIP messages. 17895 checks request line length, URI length,
    # from/to/contact size, header name size, overflows in values and content length alignment
    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    }
    if (!sanity_check("17895", "7")) {
        xlog("Malformed SIP request from $si:$sp\n");
        exit;
    }

    # Process the source IP of the current request and return false
    # if the IP was exceeding the blocking limit.
    if (!pike_check_req()) {
        sl_send_reply("403", "Flood Detected");
        exit;
    }

    force_rport();
    set_reply_no_connect();
}

route[HANDLE_RETRANSMISSIONS] {
    if (is_method("ACK")) {
        return(-1);
    }

    if (t_precheck_trans()) {
        xlog("L_INFO", "HANDLE_RETRANSMISSIONS: absorbed existing transaction rm=$rm ci=$ci src=$si:$sp\n");
        t_check_trans();
        return(1);
    }
    t_check_trans();
    return(-1);
}

route[HANDLE_OPTIONS_KEEPALIVE] {
    if (!is_method("OPTIONS") || has_totag()) {
        return(-1);
    }

    sl_send_reply("200", "Keepalive OK");
    return(1);
}

route[HANDLE_CANCEL] {
    if (!is_method("CANCEL")) {
        return(-1);
    }

    if (t_check_trans()) {
        route(RELAY);
    }
    return(1);
}

route[HANDLE_STATEFUL_ACK] {
    if (!is_method("ACK")) {
        return(-1);
    }

    if (t_check_trans()) {
        # absorb ACK for existing INVITE transaction to stop retransmits
        route(RELAY);
        return(1);
    }
    return(-1);
}

event_route[sipdump:msg] {
    if ({{KAMAILIO_SIPDUMP_ENABLE}} == 1) {
        xinfo("[$sipdump(tag)] [[$sipdump(buf)]]\n");
    }
}
